*.egg-info
*.pyc
*.pyo
*~
.*.swp
/.coverage
/.mypy_cache/
/.pylintrc
/.pytest_cache
/alembic.ini
/sampledata
build
config.ini
coverage.xml
dist
doc/_build
doc/appendix/api
env
httpd_data/users/
logs/
parser.out
parsetab.py
