[core]
allow_root_exec = 0
debug = 0

[demon]
port            = 61111
default_channel = exhuma
open_channel    = 0

[filesystem]
;; If you have trouble with the filesystem encodings, you can tell the system to
;; use this encoding instead of the one from the locale settings (LC_*)
; force_encoding  = utf-8

[Database]
Type=sqlite
Host=
User=
Pass=
Base=
File=library.sqlite

[Cache]
Type=ezcCacheStorageFileArray
DirectoryShort=cache/short
DirectoryLong=cache/long
TTLShort=600
TTLLong=7200

