[core]
allow_root_exec = 0
debug = 0
debug_sql = 0
dsn=mysql+pymysql://jukebox:jukebox@127.0.0.1:{{db_port}}/jukebox?charset=utf8

[demon]
host            = localhost
port            = 61111
default_channel = exhuma
open_channel    = 1
auto_play       = 1

[pusher]
app_id = 12345
key = 1234567890abcdef
secret = 1234567890abcdef
cluster = eu

[channel:wicked:player]
type = mpd
host = 127.0.0.1
port = 6600
path_map = /path/to/mp3s:/var/lib/mpd/music

[channel:wicked:ipc]
type = fs
path = ipc

[channel:wicked:autoplay]
type = smart_prefetch

[channel:wicked:jingle]
type = fs
root = /path/to/jingles
interval = 10


; vim: set filetype=cfg :
