--find-links http://downloads.us.xiph.org/releases/libshout/
--trusted-host downloads.us.xiph.org
# --allow-external elementtree
# --allow-unverified elementtree
sqlalchemy<0.8b1
mysql-python==1.2.3
mutagen==1.20
ply==3.4
scrobbler==1.0.0a2
shout-python==0.2.1
config_resolver==3.3.0
alembic==0.6.5
requests==2.5.1
