/* CSS Document */

html, body {
  height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
    height: 100%;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
}

html>body #container {
    height: auto;
}

body {
	margin:0;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:0.74em;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
}

input, select {
	background-color:#FFFFFF;
	padding:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	border:1px solid #728c40;
	background-color:#94ae62;
	margin-bottom:2px;
}

input {
  width: 150px;
}

select {
  width: 100px;
}

input[type=submit], input[type=button] {
  background-color:#FFFFFF;
  padding:1px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#666666;
  border:1px solid #728c40;
  margin-bottom:2px;
  width: 50px;
}

input[type=password] {
  width: 97px;
}

.icon {
padding:5px;
margin: 2px;
border:0px;
}

.icona {
padding:5px;
margin: 2px;
border:1px solid #A6A6A6;
}


a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#2a65ad;
}

ol,ul {

}

li {
	list-style-image:url(/images/backgrounds/li.gif);
	line-height:20px;
	text-align:left;
}

#menu {
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#94AE62;
	margin-bottom:20px;
	color:#FFFFFF;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	background-image:url(/images/backgrounds/menu.jpg);
}
#menu a {
	color:#FFFFFF;
	text-decoration:none;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;

}
#menu a:hover {
	border-bottom:1px solid #ffffff;
	border-left:1px solid #728d40;
	border-right:1px solid #e9ffb7;
	padding-left:9px;
	padding-right:9px;
	color:#000000;
	background-color:#FFFFFF;
	background-image:url(/images/backgrounds/a_hover.jpg);
}

#menu a.active {
	border-bottom:1px solid #ffffff;
	border-left:1px solid #728d40;
	border-right:1px solid #e9ffb7;
	padding-left:9px;
	padding-right:9px;
	color:#000000;
	background-color:#FFFFFF;
	background-image:url(/images/backgrounds/a_hover.jpg);
}

#header {
	width:970px;
	margin:0 auto 0 auto;
	margin-bottom:20px;
	height: 100px;
}
#header h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:5px;
	color:#736451;
	margin-bottom:10px;
	text-align:left;
}
#header h2 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:15px;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000000;
	border-bottom:1px solid #eeeeee;
}

#header form {
	position: relative;
	top: 45px;
	right: 0px;
    float: right;
}

#content {
	width:994px;
	margin:0 auto 0 auto;
	text-align:left;
}

.introduction {
	font-family:Helvetica, Arial, sans-serif;
	line-height:20px;
	font-size:12px;
	color:#99B198;
	text-indent:25px;
	background-image:url(/images/backgrounds/desc.jpg);
	background-position:bottom left;
	padding-left:0;
	padding-right:200px;
	padding-bottom:35px;
	padding-top:0;
	background-repeat:no-repeat;

}

.logo {
	float:right;
	margin-right:30px;
}

.clearer {
	clear:both;
}

#clear { clear:both; padding: 0px; margin: 0px; line-height: 0px; visibility:hidden; }

#splash {
	width:994px;
}

#splash #nowplaying {
    float: left;
    width: 741px;
    height: 300px;
    padding-bottom: 5px;
}

#splash .now {
  font-size:2.2em;
  padding: 0px;
  line-height: 32px;
  width: 520px;
}

#splash #profile {
    float: left;
    width: 246px;
    z-index: 5;
}

#splash #coverart {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 3px;
    margin-right: 18px;
    margin-top: 0;
}
#tinyart {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 2px;
    margin-right: 5px;
    margin-top: 0;
}

#splash #shoutbox {
    float: left;
    width: 245px;
    padding-right: 1px;
}

#splash #random {
    float: left;
    width: 245px;
    padding-right: 1px;
}

#splash #queue {
    float: left;
    width: 245px;
    padding-right: 1px;
}

#splash #quicksearch {
    float: left;
    width: 245px;
}

#sidebar {
	width:240px;
	float:right;
	font-size:95%;
	color:#6C534A;
	text-align:left;
}
#sidebar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
	text-align:right;
}
.submenu {
}

.submenu li {
  list-style: none;
  width:94%;
  padding:0px;
  padding-top: 2px;
  padding-bottom: 4px;
  line-height: 12px;
}

#mainbar {
	margin-right:250px;
	padding-right:35px;
	background-image:url(/images/backgrounds/mainbar.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

#mainbar h1, #splash h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#mainbar h2, #splash h2 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:18px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#mainbar h3 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#mainbar p {
	padding:15px;
	line-height:20px;
}

#mainbar .articleimg {
	float:right;
	padding:5px;
	border:1px solid #eeeeee;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
}

#queue .nowplaying {
  font-size:1.1em;
}

#footer {
	width:100%;
	background-color:#b6cf84;
	border-top:1px solid #d8efa6;
	border-bottom:5px solid #94ae62;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFFFFF;
}
#footer a {
	color:#006600;
}
#footer a:hover {
	color:#009900;
}

#results table {
  width: 700px;
  border: 0px solid black;

}

#results table.albums {
  width: 700px;
  border: 0px solid black;

}

#results table.songs {
  width: 570px;
  border: 0px solid black;

}

#results td {
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:1em;
}


				#controls 					{ margin: 0px 0px 0px 0px;}

				a#control_stop.active	{ background:url(/images/control_stop_blue.png) no-repeat; }						
				a#control_stop			{ width:16px; background:url(/images/control_stop.png) no-repeat; }	
				a#control_stop:hover	{ background:url(/images/control_stop_blue.png) no-repeat; }
				
				a#control_play.active	{ background:url(/images/control_play_blue.png) no-repeat; }						
				a#control_play			{ width:16px; background:url(/images/control_play.png) no-repeat; }	
				a#control_play:hover	{ background:url(/images/control_play_blue.png) no-repeat; }

				a#control_next.active	{ background:url(/images/control_end_blue.png) no-repeat; }						
				a#control_next			{ width:16px; background:url(/images/control_end.png) no-repeat; }	
				a#control_next:hover	{ background:url(/images/control_end_blue.png) no-repeat; }

				a#control_pause.active	{ background:url(/images/control_pause_blue.png) no-repeat; }						
				a#control_pause		    { width:16px; background:url(/images/control_pause.png) no-repeat; }	
				a#control_pause:hover	{ background:url(/images/control_pause_blue.png) no-repeat; }
                img.button              { border: 0px; }
                
                #queue li 			{ border-bottom: dotted black 1px; padding: 5px;}
                #queue_list         { list-style: none; margin: 0; padding: 0; }

                #random li 			{ border-bottom: dotted black 1px; padding: 5px;}
                #random_list         { list-style: none; margin: 0; padding: 0; }
                
                #qresults li 			{ border-bottom: dotted black 1px; padding: 5px;}
                #qresult_list         { list-style: none; margin: 0; padding: 0; }
                
                #shoutboxmsgs li 	{ border-bottom: dotted black 1px; padding: 5px;}
                #shout_list         { list-style: none; margin: 0; padding: 0; }
                #shout_list .old    { color:#99B198; }
                
                .sortable-list li   { cursor: move; }
                .highlight          { color: #990066; }
                .resultlist:hover   { background: #cceecc; }
                
                .warning            { color: #fcb415; }
                .critical           { color: #cc0000; }

                .love { background-color: #ccffcc; }
                .hate { background-color: #ff6161; }

div.htmltooltip{
position: absolute;
z-index: 1000;
left: -1000px;
top: -1000px;
background: #272727;
border: 10px solid black;
color: white;
padding: 3px;
width: 250px;
}

div#coverslide {
    float: left;
}

div#coverinfo {
    position: relative;
    left: 210px;
    width: 520px;
}

#loginlogo {
    padding: 75px;
}

.watermark {
   color: #cfc;
}
